.section-hero {
  height: 998px;
  position: relative;
  background-size: cover;
  @media (max-width: 565px) {
    height: 100vh;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
section {
  &:not(:first-child) {
    padding: 47px 0 80px;
  }
}
