.text-primary {
  color: $color-primary !important;
}
.text-secondary {
  color: $color-secondary !important;
}
.big-text {
  font-size: 69px;
  font-weight: 300;
  @media (max-width: 520px) {
    font-size: 37px;
  }
}
